.rich_button : first-child {
    float: left;
}

.rich_button {
    background: rgba(255,255,255,0.5);
    color: #fff;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

    .rich_button a {
        width: 100%;
        height: 100%;
        display: inline-block;
        color: #fff;
    }

        .rich_button a > img {
            margin-top: 30px;
        }

    .rich_button p {
        padding-top: 20px;
        font-size: 18px;
        width: 70%;
        margin: 0 auto;
    }

        .rich_button p img {
            position: relative;
            top: 4px;
        }

.slider_button {
    background: #343A52;
    width: 360px;
    height: 1.8rem;
    border-radius: 1rem;
    color: #fff;
    line-height: 1.9rem;
    position: relative;
    padding: 0 15px;
    font-size: 0;
}

    .slider_button > span > span {
        margin-right: 25px;
        position: relative;
        z-index: 1;
        cursor: pointer;
        display: inline-block;
        font-size: 0.9rem;
    }

.slider_unit {
    font-size: 0.7rem
}

.slider_button > span > span:last-child {
    margin-right: 0;
}

.slider_text {
    width: 110px;
    height: 1.8rem;
    background: #0087ec;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1rem;
}


.mapWrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.db, .hb, .xb, .hd, .hz, .xn {
    position: absolute;
    color: #1f6978;
    font-size: 0.8rem;
}

.db {
    top: 33.16%;
    left: 79.2%;
}

.hb {
    top: 43.49%;
    left: 67.29%;
}

.xb {
    top: 47.83%;
    left: 30.67%;
}

.hd {
    top: 60.59%;
    left: 78.93%;
}

.hz {
    top: 62.24%;
    left: 67.07%;
}

.xn {
    top: 60.20%;
    left: 21.87%;
}

.num {
    position: absolute;
    top: -1.5rem;
    left: 0.25rem;
    color: #f6676b;
}

.sp {
    position: absolute;
    /*top: 8px;
		    right: 8px;*/
    left: 0;
    width: 8px;
    height: 8px;
    /*border: 1px solid #ff2e05;*/
    border-radius: 50%;
    z-index: 3;
}

.spot {
    position: absolute;
    /*top: -1.1rem;*/
    left: 0;
    width: 55px;
    height: 55px;
    border-style: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: newSig 1.5s ease-out;
    -moz-animation: newSig 1.5s ease-out;
    animation: newSig 1.5s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    /*box-shadow: 1px 1px 0.8rem #ff2e05;*/
    background-color: red;
    z-index: 2;
}

@keyframes newSig {
    0% {
        transform: scale(0.3);
        -webkit-transform: scale(0.3);
        opacity: .3;
    }

    25% {
        transform: scale(0.3);
        -webkit-transform: scale(0.3);
        opacity: .5;
    }

    50% {
        transform: scale(0.3);
        -webkit-transform: scale(0.3);
        opacity: 1;
    }

    75% {
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
        opacity: .5;
    }

    100% {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        opacity: .3;
    }
}
/*
			.hd .spot{
				left: -1.4rem;
				top:-2.4rem;
			}
			*/
.hd .num {
    left: -0.1rem;
}
/*
			.xb .spot{
				left: -0.11rem;
			}*/
.xb .num {
    left: 0.3rem;
}

.wrapperBG {
    width: 100%;
    background: rgba(0,0,0,0.5);
    bottom: 0;
    z-index: 10;
}

.wrapper {
    width: 100%;
    height: 12rem;
    background: #45495d;
    position: absolute;
    bottom: 0;
}

.dateWrapper {
    width: 100%;
    height: 10rem;
    text-align: center;
    overflow: auto;
    position: relative;
}

.wrapper p:first-child {
    color: #fff;
}

.wrapper p {
    font-size: 1rem;
    height: 2rem;
    padding: 0 1rem;
}

    .wrapper p span:last-child {
        float: right;
    }

.topLine {
    display: block;
    background-color: white;
    position: absolute;
    top: 6rem;
    left: 0;
}

.bottomLine {
    display: block;
    background-color: white;
    position: absolute;
    top: 8rem;
    left: 0;
}

.noselectdate {
    color: rgb(186,173,158);
}

.selectdate {
    color: white;
    font-size: 1rem;
}

.panel {
    animation: selectPanel 1s;
}

@keyframes selectPanel {
    0% {
        opacity: 0.5;
    }

    20% {
        opacity: 0.6;
    }

    40% {
        opacity: 0.7;
    }

    60% {
        opacity: 0.8;
    }

    80% {
        opacity: 0.9;
    }

    100% {
        opacity: 1;
    }
}

.button-group-default :first-child {
    border-radius: 0.25rem 0 0 0.25rem;
    border-left: 1px solid #1f80ff;
}

.button-group-default :last-child {
    border-radius: 0 0.25rem 0.25rem 0;
    border-right: 1px solid #1f80ff;
}
.button-group-default > input {
    color: #1f80ff;
    font-size: 1rem;
    background-color: #ffffff;
    border-top: 1px solid #1f80ff;
    border-bottom: 1px solid #1f80ff;
    border-left:0;
    border-right:0;
    padding:0.5rem;
}
.button-group-default .light {
    color: #ffffff;
    background-color: #1f80ff;
}