/*iview样式重置*/
/*button*/
.ivu-btn {
    height: 32px;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
    color: var(--btn-default-color);
    background-color: var(--btn-default-bg);
    border-color: var(--btn-default-border-color);
}

.ivu-btn:hover {
    color: var(--btn-default-hover-color);
    background-color: var(--btn-default-hover-bg);
    border-color: var(--btn-default-hover-border-color);
}

.ivu-btn.active, .ivu-btn:active {
    color: var(--btn-default-active-color);
    background-color: var(--btn-default-active-bg);
    border-color: var(--btn-default-active-border-color);
}

.ivu-btn-primary {
    color: #fff;
    background-color: #2d8cf0;
    border-color: #2d8cf0;
}

.ivu-btn-primary:hover {
    color: #fff;
    background-color: #57a3f3;
    border-color: #57a3f3;
}

.ivu-btn-primary.active, .ivu-btn-primary:active {
    color: #f2f2f2;
    background-color: #2b85e4;
    border-color: #2b85e4;
}

.ivu-btn-dashed {
    color: #515a6e;
    background-color: #fff;
    border-color: #dcdee2;
    border-style: dashed;
}

.ivu-btn-dashed:hover {
    color: #57a3f3;
    background-color: #fff;
    border-color: #57a3f3;
}

.ivu-btn-dashed.active, .ivu-btn-dashed:active {
    color: #2b85e4;
    background-color: #fff;
    border-color: #2b85e4;
}

.ivu-btn-text {
    color: #515a6e;
    background-color: #0000;
    border-color: #0000;
}

.ivu-btn-text:hover {
    color: #57a3f3;
    background-color: #fff;
    border-color: #0000;
}

.ivu-btn-text.active, .ivu-btn-text:active {
    color: #2b85e4;
    background-color: #fff;
    border-color: #0000;
}

.ivu-btn-info {
    color: #fff;
    background-color: #2db7f5;
    border-color: #2db7f5;
}

.ivu-btn-info:hover {
    color: #fff;
    background-color: #57c5f7;
    border-color: #57c5f7;
}

.ivu-btn-info.active, .ivu-btn-info:active {
    color: #f2f2f2;
    background-color: #2baee9;
    border-color: #2baee9;
}

.ivu-btn-success {
    color: #fff;
    background-color: #19be6b;
    border-color: #19be6b;
}

.ivu-btn-success:hover {
    color: #fff;
    background-color: #47cb89;
    border-color: #47cb89;
}

.ivu-btn-success.active, .ivu-btn-success:active {
    color: #f2f2f2;
    background-color: #18b566;
    border-color: #18b566;
}

.ivu-btn-warning {
    color: #fff;
    background-color: #f90;
    border-color: #f90;
}

.ivu-btn-warning:hover {
    color: #fff;
    background-color: #ffad33;
    border-color: #ffad33;
}

.ivu-btn-warning.active, .ivu-btn-warning:active {
    color: #f2f2f2;
    background-color: #f29100;
    border-color: #f29100;
}

.ivu-btn-error {
    color: #fff;
    background-color: #ed4014;
    border-color: #ed4014;
}

.ivu-btn-error:hover {
    color: #fff;
    background-color: #f16643;
    border-color: #f16643;
}

.ivu-btn-error.active, .ivu-btn-error:active {
    color: #f2f2f2;
    background-color: #e13d13;
    border-color: #e13d13;
}

.ivu-btn:focus {
    -webkit-box-shadow: 0 0 0 2px rgb(45 140 240 / 20%);
    box-shadow: 0 0 0 2px rgb(45 140 240 / 20%);
    box-shadow: none;
}

.ivu-btn-primary.disabled, .ivu-btn-primary.disabled.active, .ivu-btn-primary.disabled:active, .ivu-btn-primary.disabled:focus, .ivu-btn-primary.disabled:hover, .ivu-btn-primary[disabled], .ivu-btn-primary[disabled].active, .ivu-btn-primary[disabled]:active, .ivu-btn-primary[disabled]:focus, .ivu-btn-primary[disabled]:hover, fieldset[disabled] .ivu-btn-primary, fieldset[disabled] .ivu-btn-primary.active, fieldset[disabled] .ivu-btn-primary:active, fieldset[disabled] .ivu-btn-primary:focus, fieldset[disabled] .ivu-btn-primary:hover {
    color: #c5c8ce;
    background-color: #f7f7f7;
    border-color: #dcdee2;
    background: #f7f7f7;
}

/*table*/
.ivu-table-wrapper-with-border {
    border: 1px solid var(--ivu-table-border-color);
    border-bottom: 0;
    border-right: 0;
}

.ivu-table {
    width: inherit;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    color: var(--ivu-table-color);
    font-size: var(--ivu-table-font-size);
    background-color: var(--ivu-table-bg);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ivu-table:before,
.ivu-table:after{
    background-color: #e8eaec;
}

.ivu-table-border td, .ivu-table-border th {
    border-right: 1px solid var(--ivu-table-border-color);
}

.ivu-table td, .ivu-table th{
    height: var(--ivu-table-row-height);
    border-bottom: 1px solid var(--ivu-table-border-color);
    text-align:  var(--ivu-table-cell-text-align);
}

.ivu-table td.ivu-table-column-left,
.ivu-table th.ivu-table-column-left {
    text-align: left;
}

.ivu-table td.ivu-table-column-center,
.ivu-table th.ivu-table-column-center {
    text-align: center
}

.ivu-table td.ivu-table-column-right,
.ivu-table th.ivu-table-column-right {
    text-align: right
}

.ivu-table th.ivu-table-column-left,
.ivu-table th.ivu-table-column-center,
.ivu-table th.ivu-table-column-right {
    white-space: nowrap;
    overflow: hidden;
    background-color: var(--ivu-table-th-bg);
    text-align:  var(--ivu-table-th-text-align);
    color: var(--ivu-table-th-color);
}

.ivu-table td{
    background-color: var(--ivu-table-td-bg);
}

.ivu-table td.ivu-table-column-left {
    text-align: left
}

.ivu-table td.ivu-table-column-center {
    text-align: center
}

.ivu-table td.ivu-table-column-right {
    text-align: right
}

.ivu-table-stripe .ivu-table-body tr:nth-child(2n) td, .ivu-table-stripe .ivu-table-fixed-body tr:nth-child(2n) td {
    background-color: var(--ivu-table-tr2n-td-bg);
}

.ivu-table-stripe .ivu-table-body tr.ivu-table-row-hover td, .ivu-table-stripe .ivu-table-fixed-body tr.ivu-table-row-hover td {
    background-color: var(--ivu-table-hover-bg);
}

.ivu-table-row-highlight td, .ivu-table-stripe .ivu-table-body tr.ivu-table-row-highlight:nth-child(2n) td, .ivu-table-stripe .ivu-table-fixed-body tr.ivu-table-row-highlight:nth-child(2n) td, tr.ivu-table-row-highlight.ivu-table-row-hover td {
    background-color: var(--ivu-table-highlight-bg);
}

.ivu-table-row-highlight td, .ivu-table-stripe .ivu-table-body tr.ivu-table-row-highlight:nth-child(2n+1) td, .ivu-table-stripe .ivu-table-fixed-body tr.ivu-table-row-highlight:nth-child(2n+1) td, tr.ivu-table-row-highlight.ivu-table-row-hover td {
    background-color: var(--ivu-table-highlight-bg);
}

.ivu-table-filter-list ul,
.ivu-table-filter-list .ivu-table-filter-list-item {
    padding-bottom: 8px;
    max-height: var(--ivu-table-filter-list-max-height);
    overflow: auto;
}

/*input*/
.ivu-input{
    height: var(--ivu-formcomp-height);
    line-height: var(--ivu-formcomp-height);
    padding: 4px 7px;
    font-size: var(--ivu-formcomp-font-size);
    border: 1px solid var(--ivu-formcomp-border-color);
    border-radius: 4px;
    color: var(--ivu-formcomp-color);
    background-color: var(--ivu-formcomp-bg);
}

.ivu-input:focus {
    border-color: var(--ivu-formcomp-focus-border-color);
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px var(--ivu-formcomp-focus-box-shadow-color);
    box-shadow: 0 0 0 2px var(--ivu-formcomp-focus-box-shadow-color);
}

/*select*/
.ivu-select{
    width: var(--ivu-formcomp-width-medium);
    color: var(--ivu-formcomp-color);
    font-size: var(--ivu-formcomp-font-size);
}

.ivu-select-single .ivu-select-selection {
    height: var(--ivu-formcomp-height);
    position: relative;
}

.ivu-select-selection {
    background-color: var(--ivu-formcomp-bg);
    border: 1px solid var(--ivu-formcomp-border-color);
}

.ivu-select-single .ivu-select-selection .ivu-select-placeholder, 
.ivu-select-single .ivu-select-selection .ivu-select-selected-value {
    height: calc(var(--ivu-formcomp-height) - 2px);
    line-height: calc(var(--ivu-formcomp-height) - 2px);
    font-size: var(--ivu-formcomp-font-size);
    padding-left: 8px;
    padding-right: 24px;
}

.ivu-select-visible .ivu-select-selection {
    border-color: var(--ivu-formcomp-focus-border-color);
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px var(--ivu-formcomp-focus-box-shadow-color);
    box-shadow: 0 0 0 2px var(--ivu-formcomp-focus-box-shadow-color);
}

.ivu-select-dropdown{
    background-color: var(--ivu-select-dropdown-bg);
    box-shadow: var(--ivu-select-box-shadow);
}

.ivu-select-item {
    margin: 0;
    line-height: normal;
    padding: 7px 16px;
    clear: both;
    color: var(--ivu-select-item-color);
    font-size: var(--ivu-select-item-font-size) !important;
    white-space: nowrap;
    list-style: none;
    cursor: pointer;
}

.ivu-select-item-selected, .ivu-select-item-selected:hover {
    color: var(--ivu-select-item-selected-color);
}

.ivu-select-item:hover {
    background: var(--ivu-select-item-hover-bg);
}

.ivu-select-multiple .ivu-select-item-selected {
    color: var(--ivu-select-item-selected-color);
    background: var(--ivu-select-dropdown-bg);
}

.ivu-select-multiple .ivu-select-item-focus, .ivu-select-multiple .ivu-select-item-selected:hover{
    background: var(--ivu-select-item-hover-bg);
}

.ivu-select-arrow{
    color: var(--ivu-select-arrow-color);
}

/*date-picker*/
.ivu-date-picker-focused input{
    border-color: var(--ivu-formcomp-focus-border-color);
    box-shadow: var(--ivu-formcomp-focus-box-shadow-color);
}

.ivu-date-picker-header {
    height: var(--ivu-date-picker-header-height);
    line-height: var(--ivu-date-picker-header-height);
    border-bottom: var(--ivu-date-picker-header-border);
}

.ivu-date-picker-header-label:hover{
    color: var(--ivu-date-picker-hover-color);
}

.ivu-picker-panel-icon-btn{
    color: var(--ivu-date-picker-dark-color);
}

.ivu-picker-panel-icon-btn:hover{
    color: var(--ivu-date-picker-hover-color);
}

.ivu-date-picker-cells-header span {
    color: var(--ivu-date-picker-dark-color);
}

.ivu-date-picker-cells-cell-next-month em, .ivu-date-picker-cells-cell-prev-month em {
    color: var(--ivu-date-picker-dark-color);
}

.ivu-date-picker-cells-cell:hover em {
    background: var(--ivu-date-picker-cells-cell-bg);
}

.ivu-date-picker-cells-cell-today em:after{
    background: var(--ivu-date-picker-cells-cell-today);
}

.ivu-date-picker-cells-cell-selected em, .ivu-date-picker-cells-cell-selected:hover em {
    background: var(--ivu-date-picker-cells-cell-selected-bg);
    color: var(--ivu-date-picker-cells-cell-selected-color);
}

/*modal*/
.ivu-modal-content {
    position: relative;
    background-color: var(--ivu-modal-bg);
    border: 0;
    border-radius: 6px;
    background-clip: padding-box;
    -webkit-box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
}

.ivu-modal-header {
    border-bottom: 1px solid var(--ivu-modal-split-line-color);
    padding: 14px 16px;
    line-height: 1;
    background: var(--ivu-modal-header-bg);
    border-radius: 6px;
}

.ivu-modal-header p, .ivu-modal-header-inner{
    color: var(--ivu-modal-header-color);
}

.ivu-modal-footer{
    text-align: var(--ivu-modal-footer-text-align);
    border-top: 1px solid var(--ivu-modal-split-line-color);
}

.ivu-modal-footer button+button {
    margin-left: var(--ivu-modal-footer-btns-gap);
}

/*Tabs 标签页*/
.ivu-tabs{
    color: var(--ivu-tabs-color);
}

.ivu-tabs-bar {
    border-bottom: 1px solid #0000;
    margin-bottom: var(--ivu-tabs-bar-margin-bottom);
}

.ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-nav-container {
    height: var(--ivu-tabs-nav-container-height);
}

.ivu-tabs-nav-container{
    font-size: var(--ivu-tabs-nav-container-font-size);
}

.ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab {
    margin-right: var(--ivu-tabs-tab-margin-right);
    height: var(--ivu-tabs-nav-container-height);
    padding: 5px 16px 5px;
    border: var(--ivu-tabs-tab-border);
    border-bottom: var(--ivu-tabs-tab-border);
    background: var(--ivu-tabs-tab-background);
}

.ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab-active {
    height: var(--ivu-tabs-nav-container-height);
    background: var(--ivu-tabs-tab-active-background);
    border-color: var(--ivu-tabs-tab-active-border-color);
    color: var(--ivu-tabs-tab-active-color);
}

.ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab .ivu-tabs-close{
    color: var(--ivu-tabs-close-color);
    font-size: var(--ivu-tabs-close-font-size);
}

.ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab:hover {
    color: var(--ivu-tabs-tab-hover-color);
    background: var(--ivu-tabs-tab-hover-background);
}


/*Card 卡片*/
.ivu-card-bordered {
    border: 1px solid #dcdee2;
    border-color: var(--ivu-card-bordered-color);
}

.ivu-card-head {
    border-bottom: 1px solid var(--ivu-card-head-border-bottom-color);
    padding: var(--ivu-card-head-padding);
    line-height: 1;
}

.ivu-card-body {
    padding: var(--ivu-card-body-padding);
}

.ivu-card:hover {
    -webkit-box-shadow: 0 1px 6px var(--ivu-card-box-shadow-color);
    box-shadow: 0 1px 6px var(--ivu-card-box-shadow-color);
    border-color: var(--ivu-card-box-shadow-border-color);
}

.ivu-card-shadow {
    -webkit-box-shadow: 0 1px 1px 0 var(--ivu-card-box-shadow-color);
    box-shadow: 0 1px 1px 0 var(--ivu-card-box-shadow-color);
}

/*Poptip 气泡提示*/
.ivu-poptip-inner {
    background-color: var(--ivu-poptip-inner-background);
}

.ivu-poptip-popper[x-placement^=bottom] .ivu-poptip-arrow:after {
    border-bottom-color: var(--ivu-poptip-arrow-background);
}

.ivu-poptip-title:after {
    background-color: var(--ivu-poptip-title-split-line);
}


.ivu-rate{
    font-size: var(--base-font-size);
}

.ivu-rate-star{
    margin-right: 4px;
}